body {
	margin: 0;
      padding: 0;
      margin-bottom: 15px;
      margin-top: 8px;
	background: #77b;
}
.row{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
}
.right-icons{
      float: right;
      display: flex;
      justify-content: flex-end;
      gap: 30px;
      padding: 15px;
}
.left-info{
      display: flex;
      gap: 30px;
}
a{
      text-decoration: none;
      color: white;
      
}
#left-info{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#services-btn{
      background-color: #a4c639;
      border: none;
      border-radius: 30px;
      padding: 10px 20px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      
}
#services-btn:hover {
      color: #a4c639;
      background-color: white;
}

.services{
      display: flex;
      gap: 30px;
      padding: 15px;
      background-image:url("./assets/img1.jpg");
      background-size: cover;
      background-position: center;
}

.navbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
}