body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  height: 200px;
  background: #444;
  color: white;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}